{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="form_id">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-right row">
                    <div class="col-md-6 text-left">
                        <h1>
                            <i class="fa fa-home" id="home"> Principal</i>
                        </h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <h1>
                            <i class="fa fa-video"> Porta Entrada</i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 card" id="porta_entrada">
                <div>
                    <div class="col-md-12" align="left">
                        <div>
                            <img class="img" id="light_state" src="{% static 'images/gnr.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 card">
                <br>
                <div>
                    <button type="button" id="btn_on_05" class="btn btn-success btn-lg btn-block">1. Abrir Porta
                    </button>
                </div>
                <br>
                <div>
                    <button type="button" id="btn_off_05" class="btn btn-warning btn-lg btn-block">2. Audio
                        Ligar/Desligar
                    </button>
                </div>
                <br>
                <div>
                    <button type="button" id="btn_back" class="btn btn-primary btn-lg btn-block">0. Voltar Principal
                    </button>
                </div>
                <br>
                <div class="col-md-12" align="center">
                    <div id="porta" style="display:none">
                        <h1>
                            <i class="fas fa-door-open"></i>
                            Porta aberta com sucesso!
                        </h1>
                    </div>
                    <div id="audio" style="display:none">
                        <h1>
                            <i class="fas fa-volume-up"></i>
                            Audio ligado!
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#home").click(function () {
                window.location = "/";
            });

            $("#btn_back").click(function () {
                window.location = "/";
            });

            $("#btn_on_05").click(function () {
                $("#porta").toggle();
            });

            $("#btn_off_05").click(function () {
                $("#audio").toggle();
            });

            $(document).bind('keydown', function (e) {
                //alert(e.type + ': ' + e.which);
                if (e.which === 97) {
                    $("#btn_on_05").trigger('click');
                }
                if (e.which === 98) {
                    $("#btn_off_05").trigger('click');
                }
                if (e.which === 96) {
                    $("#btn_back").trigger('click');
                }
            });
        });
    </script>
{% endblock javascript %}
