{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="form_id">
        <div class="row  d-flex justify-content-center">
            <div class="col-md-12">
                    <nav class="navbar navbar-light bg-light">
                        <span class="navbar-brand mb-0 h1 fa fa-home text-left" id="home">  Domótica 2020</span>
                    </nav>
                <!-- <div class="jumbotron">
                    <h1 class="text-left">
                        <i class="fa fa-home" id="home"> Domótica 2020</i>
                    </h1>
                </div> -->
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4" id="iluminacao">
                <div class="row d-flex justify-content-center">
                    <div class="card-block">
                        <h2 class="card-title  text-center">
                            1. Iluminação
                        </h2>
                        <div>
                            <img id="light_state" style="height: 220px" src="{% static 'images/iluminacao.jpg' %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center" id="portas">
                <div class="row d-flex justify-content-center">
                    <div class="card-block">
                        <h2 class="card-title  text-center">
                            2. Portas
                        </h2>
                        <div>
                            <img id="light_state" src="{% static 'images/porta-entrada.jpg' %}" style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center" id="video">
                <div class="row d-flex justify-content-center">
                    <div class="card-block">
                        <h2 class="card-title  text-center">
                            3. Vídeovigilância
                        </h2>
                        <div>
                            <img id="light_state" src="{% static 'images/videovigilancia.jpg' %}"
                            style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="height: 100px;">
        <div class="">
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4" id="alarme">
            <div class="row d-flex justify-content-center">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        4. Alarmes
                    </h2>
                    <div>
                        <img id="light_state" src="{% static 'images/aviso_medic.png' %}" style="height: 220px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center" id="temperatura">
            <div class="row d-flex justify-content-center">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        5. Temperatura
                    </h2>
                    <div>
                        <img id="light_state" src="{% static 'images/termometro.jpg' %}" style="height: 220px"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center" id="configuracao">
            <div class="row d-flex justify-content-center">
                    <div class="card-block">
                        <h2 class="card-title  text-center">
                            6. Configurações
                        </h2>
                        <div>
                            <img id="light_state" src="{% static 'images/engrenagem.png' %}" style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#iluminacao").click(function () {
                window.location = "/iluminacao/";
            });

            /*$("#video").click(function () {
                window.location = "/videovigilancia/";
            });*/

            $(document).bind('keydown', function (e) {
                if (e.which === 49 | e.which === 97) {
                    window.location = "/iluminacao/";
                }
                /*if (e.which === 51 | e.which === 99) {
                    window.location = "/videovigilancia/";
                }*/
                //alert(e.type + ': ' + e.which);
            });
        });
    </script>
{% endblock javascript %}
