{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="form_id">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-right">
                    <h1>
                        1- Iluminação
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="sala">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        1. Sala
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <img id="light_state" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img id="light_state" src="{% static 'images/estore_01.jpg' %}" style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="quarto_01">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        2. Quarto 1
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img id="light_state" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block">Ligar</button>
                        </div>
                        <br>
                        <div>
                            <button type="button" class="btn btn-danger btn-lg btn-block">Desligar</button>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center" id="estores">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img class="card-img-top mw-100" alt="Bootstrap Thumbnail First"
                                 src="https://cdn.es.tiendas.com/images/?url=rPRb9CenFBqcWcNXglsYuabGLQJd5X%2BmOAKTQOCRtgn%2BRnVFaIXGu5%2BGdK2iuz%2Bv1%2FC361LA9dSkRZY03%2FjIEAhRWXrj9MvwQP4rq24osEg%3D&w=300&h=300&t=letterbox&trim=1&bg=white"/>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h2 class="card-title text-center">
                        3. Estores
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="video">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img class="card-img-top" alt="Bootstrap Thumbnail First"
                                 src="http://www.scvpti.pt/wp-content/uploads/2016/07/201407211604-videovigilancia.jpg"/>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        4. Vídeo Vigilância
                    </h2>
                </div>
            </div>
            <div class="col-md-4 text-center" id="temperatura">
                <div class="row">
                    <div class="col-md-3">
                        <div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img class="card-img-top" alt="Bootstrap Thumbnail First" width="10px" height="370px"
                                 src="https://thumbs.dreamstime.com/z/icona-del-termometro-che-misura-temperatura-calda-e-fredda-86649219.jpg"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>

                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h2 class="card-title text-center">
                        5. Temperatura
                    </h2>
                </div>
            </div>
            <div class="col-md-4 text-center" id="configuracao">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <img class="card-img-top" alt="Bootstrap Thumbnail First"
                                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT64qk0qY5bJ23dQqqO9xj6rvz98McMOY1OAFqbIj8PnzYjGrVo"/>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <h2 class="card-title text-center">
                        3. Configurações
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

//{% block javascript %}
    <script type="text/javascript">
        $("#iluminacao").click(function () {
            console.log('XXXXXXXXXXXXXXXXXXXXXXXXX')
            //var csrftoken = getCookie('csrftoken');
            //var idUserProfile = $(this).attr("name");
            /*$.ajax({
                url: '/',
                type: 'GET',
                data: {},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    $(".form_id").html(data);
                }
            });*/
        });
    </script>
    //{% endblock javascript %}
