{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="container-fluid" id="form_id">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-right">
                        <h1 class="text-left">
                            <i class="fa fa-home" id="home">Principal</i>
                        </h1>
                    <h1>
                        1- Iluminação
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="sala">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        1. Sala
                    </h2>
                </div>
                <div class="col-md-3">
                    <div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" align="center">
                        <div>
                            <img class="img" id="light_state" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                        <div>
                            <button type="button" id="btn_on" class="btn btn-primary btn-lg btn-block">Ligar/Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6" align="center">
                        <div id="estore_state">
                            <img src="{% static 'images/estore_02.jpg' %}" style="height: 230px"/>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" id="opacity" class="btn btn-success btn-block">Abrir</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="opacity2" class="btn btn-primary btn-block">Fechar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4" id="quarto_01">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        2. Quarto 1
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="img" id="light_state_01" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <button type="button" id="btn_on_01" class="btn btn-primary btn-lg btn-block">Ligar</button>
                        </div>
                        <br>
                        <div>
                            <button type="button" id="btn_off_01" class="btn btn-danger btn-lg btn-block">Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="quarto_02">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        3. Quarto 2
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="img" id="light_state_02" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <button type="button" id="btn_on_02" class="btn btn-primary btn-lg btn-block">Ligar</button>
                        </div>
                        <br>
                        <div>
                            <button type="button" id="btn_off_02" class="btn btn-danger btn-lg btn-block">Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="cozinha">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        4. Quarto 3
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="img" id="light_state_03" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <button type="button" id="btn_on_03" class="btn btn-primary btn-lg btn-block">Ligar</button>
                        </div>
                        <br>
                        <div>
                            <button type="button" id="btn_off_03" class="btn btn-danger btn-lg btn-block">Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="garagem">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        6. Garagem
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="img" id="light_state_04" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <button type="button" id="btn_on_04" class="btn btn-primary btn-lg btn-block">Ligar</button>
                        </div>
                        <br>
                        <div>
                            <button type="button" id="btn_off_04" class="btn btn-danger btn-lg btn-block">Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="garagem">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        5. Geral
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-2" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <button type="button" id="btn_on_05" class="btn btn-primary btn-lg btn-block">Ligar</button>
                        </div>
                        <br>
                        <div>
                            <button type="button" id="btn_off_05" class="btn btn-danger btn-lg btn-block">Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-2" style="height: 370px;">
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">

        /*SALA*/

        $('.img').on({
            'click': function () {
                var src = ($(this).attr('src') === "{% static 'images/lampada-on.jpg' %}")
                    ? "{% static 'images/lampada-off.jpg' %}"
                    : "{% static 'images/lampada-on.jpg' %}";
                $(this).attr('src', src);
            }
        });


        var togSrc = ["{% static 'images/lampada-on.jpg' %}", "{% static 'images/lampada-off.jpg' %}"];

        $("#btn_on").click(function () {

            $('#light_state').attr('src', togSrc.reverse()[0]);
        });


        /*QUARTO 1*/

        $('#btn_on_01').click(function () {
            $('#light_state_01').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_01').click(function () {
            $('#light_state_01').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        /*QUARTO 2*/

        $('#btn_on_02').click(function () {
            $('#light_state_02').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_02').click(function () {
            $('#light_state_02').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        /*COZINHA*/

        $('#btn_on_03').click(function () {
            $('#light_state_03').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_03').click(function () {
            $('#light_state_03').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        /*GARAGEN*/

        $('#btn_on_04').click(function () {
            $('#light_state_04').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_04').click(function () {
            $('#light_state_04').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        /*GARAGEN*/

        $('#btn_on_05').click(function () {
            $('#light_state').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_01').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_02').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_03').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_04').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_05').click(function () {
            $('#light_state').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_01').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_02').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_03').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_04').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });


        function changeOpacity() {
            $("#opacity").click(function () {
                var pippo = $('#estore_state').css('opacity');
                var pluto = $('#estore_state').css('opacity');
                $("#estore_state").css("opacity", parseFloat(pippo) + 0.1);
                $("#estore_state").css("opacity", parseFloat(pluto) - 0.1);

                console.log(pippo + 0.1);
            });
            $("#opacity2").click(function () {
                var pi = $('#estore_state').css('opacity');
                var pl = $('#estore_state').css('opacity');
                $("#estore_state").css("opacity", parseFloat(pi) - 0.1);
                $("#estore_state").css("opacity", parseFloat(pl) + 0.1);
                return false;
            });
        }

        changeOpacity();

        $("#home").click(function () {
            window.location = "/";
        });

    </script>
{% endblock javascript %}
