{% extends "core/base.html" %}
{% load static %}
{% block content %}
<style>
.img {
    height: 150px;
}
    .custom {
    width: 100%;
    height:80px;
    margin: 0 auto;
    }
    .nav-left{
        position: absolute;
        left: 1%;
    }
    .nav-right{
        position: absolute;
        right: 1%;
    }
    .font-custom {
        font-style: normal;
        font-size: 2.8em !important;
    }
</style>
    <nav class="custom navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="nav-left">
            <span class="font-custom navbar-brand mb-0 h1 fa fa-home" id="home"> Principal</span>
        </div>
        <div class="nav-right">
            <span class="font-custom navbar-brand mb-0 h1 fa fa-lightbulb" id="lightbulb"> Iluminação</span>
        </div>
    </nav>
    <div class="container-fluid" id="form_id">
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 card" id="sala">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        Sala
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4" align="center">
                        <div>
                            <img class="img" id="light_state" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                        <div>
                            <button type="button" id="btn_on" class="btn btn-warning btn-group"> 1. Ligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6" align="center">
                        <div >
                            <img id="estore_state" src="{% static 'images/estore_0.jpg' %}" style="height: 150px" alt="estore_state"/>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" id="opacity" class="btn btn-success btn-group">2. Abrir</button>
                            </div>
                            <!-- <div class="col-md-6">
                                <button type="button" id="opacity2" class="btn btn-danger btn-group">3. Fechar</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card" id="quarto_01">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        Quarto
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4" align="center">
                        <div>
                            <img class="img" id="light_state_01" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                        <div>
                            <button type="button" id="btn_on_01" class="btn btn-warning btn-group"> 4. Ligar/Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6" align="center">
                        <div id="estore_state_01">
                            <img src="{% static 'images/estore_0.jpg' %}" style="height: 150px"/>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" id="opacity3" class="btn btn-success btn-group">5. Abrir</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="opacity4" class="btn btn-danger btn-group">6. Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 card" id="quarto_02">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        Cozinha
                    </h2>
                </div>
                <div class="row">
                    <div class="col-md-4" align="center">
                        <div>
                            <img class="img" id="light_state_02" src="{% static 'images/lampada-off.jpg' %}"/>
                        </div>
                        <div>
                            <button type="button" id="btn_on_02" class="btn btn-warning btn-group"> 7. Ligar/Desligar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6" align="center">
                        <div id="estore_state_02">
                            <img src="{% static 'images/estore_0.jpg' %}" style="height: 150px"/>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" id="opacity5" class="btn btn-success btn-group">8. Abrir</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="opacity6" class="btn btn-danger btn-group">9. Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-4 card" id="quarto_01">
                            <div class="card-block">
                                <h2 class="card-title  text-center">
                                    Exterior
                                </h2>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-4" align="center">
                                    <div>
                                        <img class="img" id="light_state_01" src="{% static 'images/lampada-off.jpg' %}"/>
                                    </div>
                                    <div>
                                        <button type="button" id="btn_on_01" class="btn btn-warning btn-group"> Ligar/Desligar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-4 card" id="quarto_01">
                        <div class="card-block">
                            <h2 class="card-title  text-center">
                                Garagem
                            </h2>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-4" align="center">
                                <div>
                                    <img class="img" id="light_state_01" src="{% static 'images/lampada-off.jpg' %}"/>
                                </div>
                                <div>
                                    <button type="button" id="btn_on_01" class="btn btn-warning btn-group"> Ligar/Desligar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 card" id="garagem">
                            <div class="card-block">
                                <h2 class="card-title  text-center">
                                    Geral
                                </h2>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2" style="height: 370px;">
                                    <div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <button type="button" id="btn_on_05" class="btn btn-success btn-lg btn-block"disabled>Ligar Tudo
                                        </button>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="button" id="btn_off_05" class="btn btn-danger btn-lg btn-block" disabled>Desligar Tudo
                                        </button>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="button" id="btn_back" class="btn btn-primary btn-lg btn-block">0. Voltar
                                            Principal
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-2" style="height: 370px;">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>ss
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        //variáveis vinda do django, estado das portas no pi
        var state1 = "{{ state1 | safe }}"
        var state2 = "{{ state2 | safe }}"
        var state3 = "{{ state3 | safe }}"
        var blind_pos = "{{ blind_pos | safe }}"

        if ( state1 === "1")
        {
            console.log('1 ON')

            document.getElementById('light_state').src = "{% static 'images/lampada-on.jpg' %}";
        }else {
            console.log('1 OFF')
            document.getElementById('light_state').src = "{% static 'images/lampada-off.jpg' %}";
        }

        if (state2 === "1")
        {
            console.log('ON')
            document.getElementById('light_state_01').src = "{% static 'images/lampada-on.jpg' %}";
        }else {
            console.log('OFF')
            document.getElementById('light_state_01').src = "{% static 'images/lampada-off.jpg' %}";
        }

        if (state3 === "1")
        {
            console.log('ON')
            document.getElementById('light_state_02').src = "{% static 'images/lampada-on.jpg' %}";
        }else {
            console.log('OFF')
            document.getElementById('light_state_02').src = "{% static 'images/lampada-off.jpg' %}";
        }

        if (blind_pos === "1")
        {
            console.log('blind_pos ON')
        }else {
            console.log('blind_pos OFF')
        }

        var togSrc = ["{% static 'images/lampada-on.jpg' %}", "{% static 'images/lampada-off.jpg' %}"];
        $("#btn_on").click(function () {
            var src = ($('#light_state').attr('src') === "{% static 'images/lampada-on.jpg' %}")
                ? "{% static 'images/lampada-off.jpg' %}"
                : "{% static 'images/lampada-on.jpg' %}";
            $('#light_state').attr('src', src);
            //console.log('VAL: ', $(this).attr("value"));            
            on_off_light($('#light_state').attr('src'), 'sala')
        });

        $("#btn_on_01").click(function () {
            var src = ($('#light_state_01').attr('src') === "{% static 'images/lampada-on.jpg' %}")
                ? "{% static 'images/lampada-off.jpg' %}"
                : "{% static 'images/lampada-on.jpg' %}";
            $('#light_state_01').attr('src', src);
            on_off_light($('#light_state_01').attr('src'), 'quarto')
        });

        $("#btn_on_02").click(function () {
            var src = ($('#light_state_02').attr('src') === "{% static 'images/lampada-on.jpg' %}")
                ? "{% static 'images/lampada-off.jpg' %}"
                : "{% static 'images/lampada-on.jpg' %}";
            $('#light_state_02').attr('src', src);
            on_off_light($('#light_state_02').attr('src'), 'cozinha')
        });

        function on_off_light(state, place){
            var state;

            if ((state === "{% static 'images/lampada-on.jpg' %}"))
            {
                console.log('ON')
                $('#btn_on').html('1. Desligar');
                state = true;
            }else {
                console.log('OFF')
                $('#btn_on').html('1. Ligar');
                state = false;
            }

            $.ajax({
            url: {% url 'clientConnect' %},
            type: 'GET',
            data: {"state": state, "place": place},
            });
        }

        function on_off_estores(state, place){
            $.ajax({
                url: {% url 'clientConnect' %},
                type: 'GET',
                data: {"state": state, "place": place},
                });
            };

        function on_off_estores2(state, place){                    
            $.ajax({
                url: {% url 'blindPosition' %},
                type: 'GET',
                data: {"state": state, "place": place},
                //cache: false,
                    success: function(data){
                        blind_pos = data.blind_pos;
                    }
                });
            };

        /*EXTERIOR*/

        $('#btn_on_03').click(function () {
            $('#light_state_03').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_03').click(function () {
            $('#light_state_03').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        /*GARAGEN*/

        $('#btn_on_04').click(function () {
            $('#light_state_04').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_04').click(function () {
            $('#light_state_04').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        /*GERAL*/

        $('#btn_on_05').click(function () {
            on_off_light($('#light_state').attr('src'), 'sala')
            on_off_light($('#light_state_01').attr('src'), 'quarto')
            on_off_light($('#light_state_02').attr('src'), 'cozinha')
            $('#light_state').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_01').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_02').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_03').attr('src', "{% static 'images/lampada-on.jpg' %}");
            $('#light_state_04').attr('src', "{% static 'images/lampada-on.jpg' %}");
        });
        $('#btn_off_05').click(function () {
            on_off_light($('#light_state').attr('src'), 'sala')
            on_off_light($('#light_state_01').attr('src'), 'quarto')
            on_off_light($('#light_state_02').attr('src'), 'cozinha')
            $('#light_state').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_01').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_02').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_03').attr('src', "{% static 'images/lampada-off.jpg' %}");
            $('#light_state_04').attr('src', "{% static 'images/lampada-off.jpg' %}");
        });

        console.log('XXXXXXXXXXXXXXXXX: ', blind_pos)
        var status = true
        //function changeOpacity() {
            $("#opacity").click(function () {
                console.log('BLIND POSITION VALUE : ', blind_pos)
                if((blind_pos <= 100) && (status == true)){
                    $('#opacity').html('2. Abrir')
                    on_off_estores(true, 'estore_sala')
                    on_off_estores2(true, 'estore_sala')
                    position(blind_pos)
                    if(blind_pos === '100'){
                        status = false
                        console.log('AQUI:')
                    }
                } else if(status === false){
                    console.log('FALSO:')
                    $('#opacity').html('2. Fechar')
                    on_off_estores(false, 'estore_sala')
                    on_off_estores2(false, 'estore_sala')
                    position(blind_pos)
                    if(blind_pos == '0'){
                        status = true
                    }
                }
            });

            function position(pos){ 
                console.log('POSITION: ', pos)
                if (pos == "0")
                {
                    console.log('BLIND POSITION 0: ', pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_0.jpg' %}")
                }else if (pos == "25")
                {
                    console.log('BLIND POSITION 25: ', pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_25.jpg' %}")
                }else if (pos == "50")
                {
                    console.log('BLIND POSITION 50: ', pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_50.jpg' %}")
                }else if (pos == "75")
                {
                    console.log('BLIND POSITION 75: ', pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_75.jpg' %}")
                }else if (pos == "100")
                {
                    console.log('BLIND POSITION 100: ', pos)
                    $('#estore_state').attr('src', "{% static 'images/estore_100.jpg' %}")
                }
            };

            $("#opacity2").click(function () {
                console.log('BLIND POSITION XX : ', blind_pos)
                position(blind_pos)
                on_off_estores(false, 'estore_sala')
                on_off_estores2(false, 'estore_sala')

                if (blind_pos == "0")
                {
                    console.log('BLIND POSITION 0: ', blind_pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_0.jpg' %}")
                }else if (blind_pos == "25")
                {
                    console.log('BLIND POSITION 25: ', blind_pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_25.jpg' %}")
                }else if (blind_pos == "50")
                {
                    console.log('BLIND POSITION 50: ', blind_pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_50.jpg' %}")
                }else if (blind_pos == "75")
                {
                    console.log('BLIND POSITION 75: ', blind_pos);
                    $('#estore_state').attr('src', "{% static 'images/estore_75.jpg' %}")

                }else if (blind_pos == "100")
                {
                    console.log('BLIND POSITION 100: ', blind_pos)
                    $('#estore_state').attr('src', "{% static 'images/estore_100.jpg' %}")
                }
            });

            $("#opacity3").click(function () {
                on_off_estores(true, 'estore_quarto')
                var i;
                for(i=0; i<9; i++) {
                    (function(i){
                        setTimeout(function(){
                        var pippo = $('#estore_state_01').css('opacity');
                        var pluto = $('#estore_state_01').css('opacity');
                        $("#estore_state_01").css("opacity", parseFloat(pippo) + 0.1);
                        $("#estore_state_01").css("opacity", parseFloat(pluto) - 0.1);
                        console.log(pippo + 0.1);
                    }, 500*i);
                })(i);
                }
            });
            $("#opacity4").click(function () {
                on_off_estores(false, 'estore_quarto')
                var i;
                for(i=0; i<9; i++) {
                    (function(i){
                        setTimeout(function(){
                        var pi = $('#estore_state_01').css('opacity');
                        var pl = $('#estore_state_01').css('opacity');
                        $("#estore_state_01").css("opacity", parseFloat(pi) - 0.1);
                        $("#estore_state_01").css("opacity", parseFloat(pl) + 0.1);
                        return false;
                        }, 500*i);
                    })(i);
                }
            });

            $("#opacity5").click(function () {
                on_off_estores(true, 'estore_cozinha')
                var i;
                for(i=0; i<9; i++) {
                    (function(i){
                        setTimeout(function(){
                        var pippo = $('#estore_state_02').css('opacity');
                        var pluto = $('#estore_state_02').css('opacity');
                        $("#estore_state_02").css("opacity", parseFloat(pippo) + 0.1);
                        $("#estore_state_02").css("opacity", parseFloat(pluto) - 0.1);
                        console.log(pippo + 0.1);
                    }, 500*i);
                })(i);
                }
            });
            $("#opacity6").click(function () {
                on_off_estores(false, 'estore_cozinha')
                var i;
                for(i=0; i<9; i++) {
                    (function(i){
                        setTimeout(function(){
                        var pi = $('#estore_state_02').css('opacity');
                        var pl = $('#estore_state_02').css('opacity');
                        $("#estore_state_02").css("opacity", parseFloat(pi) - 0.1);
                        $("#estore_state_02").css("opacity", parseFloat(pl) + 0.1);
                        return false;
                        }, 500*i);
                    })(i);
                }
            });
        //}

        //changeOpacity();

        $("#home").click(function () {
            window.location = "/";
        });

        $("#btn_back").click(function () {
            window.location = "/";
        });

        $(document).bind('keydown', function (e) {
            //alert(e.type + ': ' + e.which);
            if (e.which === 49 | e.which === 97) {
                var src = ($('#light_state').attr('src') === "{% static 'images/lampada-on.jpg' %}")
                    ? "{% static 'images/lampada-off.jpg' %}"
                    : "{% static 'images/lampada-on.jpg' %}";
                $('#light_state').attr('src', src);
                on_off_light($('#light_state').attr('src'), 'sala')
            }
            if (e.which === 50 | e.which === 98) {
                $("#opacity").trigger('click');
            }
            if (e.which === 51 | e.which === 99) {
                $("#opacity2").trigger('click');
            }
            if (e.which === 52 | e.which === 100) {
                var src = ($('#light_state_01').attr('src') === "{% static 'images/lampada-on.jpg' %}")
                    ? "{% static 'images/lampada-off.jpg' %}"
                    : "{% static 'images/lampada-on.jpg' %}";
                $('#light_state_01').attr('src', src);
                on_off_light($('#light_state_01').attr('src'), 'quarto')
            }
            if (e.which === 53 | e.which === 101) {
                $("#opacity3").trigger('click');
            }
            if (e.which === 54 | e.which === 102) {
                $("#opacity4").trigger('click');
            }
            if (e.which === 55 | e.which === 103) {
                var src = ($('#light_state_02').attr('src') === "{% static 'images/lampada-on.jpg' %}")
                    ? "{% static 'images/lampada-off.jpg' %}"
                    : "{% static 'images/lampada-on.jpg' %}";
                $('#light_state_02').attr('src', src);
                on_off_light($('#light_state_02').attr('src'), 'cozinha')
            }
            if (e.which === 56 | e.which === 104) {
                $("#opacity5").trigger('click');
            }
            if (e.which === 57 | e.which === 105) {
                $("#opacity6").trigger('click');
            }
            if (e.which === 48 | e.which === 96) {
                $("#btn_back").trigger('click');
            }
        });

    </script>
{% endblock javascript %}
