{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="form_id">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-right row">
                    <div class="col-md-6 text-left">
                        <h1>
                            <i class="fa fa-home" id="home"> Principal</i>
                        </h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <h1>
                            <i class="fa fa-video"> 3 - Vídeo Vigilância</i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" id="porta_entrada">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        1. Câmara Porta Entrada
                    </h2>
                </div>
                <div>
                    <div class="col-md-12" align="center">
                        <div>
                            <img class="img" id="cam_01" src="{% static 'images/image01.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="porta_entrada">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        2. Câmara Frente
                    </h2>
                </div>
                <div>
                    <div class="col-md-12" align="center">
                        <div>
                            <img id="light_state" src="{% static 'images/image02.png' %}"
                                 style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="porta_entrada">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        3. Câmara Traseira
                    </h2>
                </div>
                <div>
                    <div class="col-md-12" align="center">
                        <div>
                            <img id="light_state" src="{% static 'images/image03.png' %}"
                                 style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="porta_entrada">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        4. Câmara Lado Esquerdo
                    </h2>
                </div>
                <div>
                    <div class="col-md-12" align="center">
                        <div>
                            <img id="light_state" src="{% static 'images/videovigilancia.jpg' %}"
                                 style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="porta_entrada">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        5. Câmara Lado Direito
                    </h2>
                </div>
                <div>
                    <div class="col-md-12" align="center">
                        <div>
                            <img id="light_state" src="{% static 'images/videovigilancia.jpg' %}"
                                 style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="porta_entrada">
                <div class="card-block">
                    <h2 class="card-title  text-center">
                        6. Câmara Quintal
                    </h2>
                </div>
                <div>
                    <div class="col-md-12" align="center">
                        <div>
                            <img id="light_state" src="{% static 'images/videovigilancia.jpg' %}"
                                 style="height: 220px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" align="right">
                <br>
                <br>
                <br>
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <button type="button" id="btn_back" class="btn btn-primary btn-lg btn-block">0. Voltar Principal
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#home").click(function () {
                window.location = "/";
            });

            $("#cam_01").click(function () {
                window.location = "/cam01/";
            });

            $("#btn_back").click(function () {
                window.location = "/";
            });
        });
    </script>
{% endblock javascript %}
